.git
.github
.agents
.freebuff
.kilo
.osp
node_modules
npm-debug.log
vendor
.env
.env.*
!.env.example
storage/logs/*.log
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
tests
.phpunit.result.cache
phpunit.xml
.editorconfig
.styleci.yml
README.md
cookie.txt
Dockerfile*
docker-compose*
